<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/auth/welcome" mode="ios">
        <ion-icon name="chevron-back" class="back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Terms & Condition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ec-page-body">
    <div>
      <p>GENERAL POLICY FOR ALL CONSUMERS AND MEMBERS</p>
      <div>1. Earthen Fresh an integrated chemical free agriculture product &amp; service provider, in which consumers
        agree to purchase farm products from our group of farmers/suppliers/franchise/agents which are registered with
        Earthen Fresh.</div>
      <div><br></div>
      <div>2. Earthen Fresh consumers understand that agriculture has its inherent risks and uncertainties that are
        related to the changing climate, water availability, labor availability and incidence of pests and diseases, and
        therefore, the quantity, quality, and consistency of supply of the farm produce cannot be guaranteed.</div>
      <div><br></div>
      <div>3. Earthen Fresh verifies and ascertains the authenticity of the farm produce and other products supplied by
        farmers/suppliers/franchise/agents.</div>
      <div><br></div>
      <div>4. Earthen Fresh, within its capacity as a protocol conducts routine quality control checks in order to
        ensure that the farmers who supply to Earthen Fresh are using chemical free farming practices.</div>
      <div><br></div>
      <div>5. Consumers who wish to be part of Earthen Fresh can register online at www.earthenfresh.in. Wherein they
        will receive chemical free fruits &amp; vegetables, organic exotic vegetables.</div>
      <div><br></div>
      <div>6. Consumers who do not reside within Navi Mumbai city cannot purchase the fruits &amp; vegetables. They can
        purchase only other products.</div>
      <div><br></div>
      <div>7.Earthen Fresh uses <a href="http://www.earthenfresh.in">www.earthenfresh.in</a> as its official payment
        gateway, and we do not have access to or store any data related to credit cards or debit cards of our customers.
      </div>
      <div><br></div>
      <div>8. All prices are inclusive of government tax, where applicable.</div>
    </div>
  </div>
</ion-content>