.date-time{
    font-size: x-small;
}

.message{
    font-size: medium;
    white-space: pre-line;
}

.amount{
    font-size: medium;
}

.container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    ion-icon{
        font-size: 150px;
    }

    img{
        height: 150px;
        width: 150px;
    }
}    