<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/auth/welcome" mode="ios">
        <ion-icon name="chevron-back" class="back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Return Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ec-page-body">
    <div>
      <p>1. Earthen Fresh uses <a href="http://www.earthenfresh.in">www.earthenfresh.in</a> as its official payment
        gateway, and we do not have access to or store any data related to credit cards or debit cards of our customers.
      </p>
      <div><br></div>
      <div>2. All prices are inclusive of government tax, where applicable.</div>
      <div><br></div>
      <div>3. In case any item(s) are not delivered to you or if the quantity of item(s) supplied to you is less than
        what you were billed for, then Earthen Fresh will supply the undelivered item or deficit quantity at the time of
        the next delivery. If we cannot supply the undelivered item or deficit quantity within 07 days because the item
        is out of stock or due to any other reason, then you will receive a refund on the deficit quantity within 3 to
        21 days.</div>
      <div><br></div>
      <div>4. You as a customer can cancel your order on the same day, by contacting our customer care team on
        9768329786 or by writing to us at: earthenfresh@gmail.com. In such a case we will refund any payments already
        made by you for the order.</div>
      <div><br></div>
      <div>5. In case of any spoiled/damaged or “Not-fit-for-consumption” items, or if you are not satisfied with the
        quality of the items supplied to you, we will replace the damaged or spoiled products. The replacement request
        should be made to our customer care team for perishable food like fruits, vegetables, etc. within 2 days and
        non-perishable goods like Groceries, Beverages, Ready to Eat, Bakery &amp; Cookies, Snacks, Homecare and
        Superfoods within 7 days of order received to you. In case, if replacement of the items can not be provided to
        you, that amount will be refunded to you and will be reflected in your Account Or wallet within 3 to 21 days.
        For replacement request &amp; feedback please call us or email at earthenfresh@gmail.com.</div>
      <div><br></div>
      <div>6. To request a refund please call us on 9768329786 or email at: earthenfresh@gmail.com</div>
    </div>
  </div>
</ion-content>