<ion-tabs>

  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="home">
      <span class="icon icon-dashboard"></span>
    </ion-tab-button>

    
    <ion-tab-button tab="orders">
      <i class="material-icons icon-basket">shopping_basket</i>
    </ion-tab-button>

    <!-- <ion-tab-button tab="product/cart">
      <span class="icon icon-document"></span>
      <ion-badge *ngIf="cartS.carts.length !== 0">{{cartS.carts.length}}</ion-badge>
    </ion-tab-button> -->

    <ion-tab-button tab="profile">
      <span class="icon icon-person"></span>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
