<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/auth/welcome" mode="ios">
        <ion-icon name="chevron-back" class="back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Shipping & Payment Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ec-page-body">
    <div>
      <p>1. Consumers who do not reside within New Mumbai city cannot purchase the fruits &amp; vegetables. They can
        purchase only organic groceries and other products.</p>
      <div><br></div>
      <div>2. Kindly note that the weight of fresh produce reduces during shipping, and therefore, we cannot guarantee
        the weight consistency of the package. In the event of deficit supply due to adverse weather conditions or other
        agricultural factors, the impact of deficit supply will be shared equally by all Earthen Fresh consumers.
        Similarly, when there is surplus the same would be distributed equally among the Earthen Fresh consumers to
        compensate for the deficit supply, if any.</div>
      <div><br></div>
      <div>3. In case you are not at home at the time of delivery, your basket will be delivered to the designated
        person indicated by you (neighbor or security guard). Please write to us at earthenfresh@gmail.com</div>
    </div>
  </div>
</ion-content>