<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Edit Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" style="font-weight: 600;" (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item style="margin-bottom: 10px;">
    <ion-label position="stacked">Name</ion-label>
    <ion-input type="text" placeholder="Enter name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>
  <ion-item style="margin-bottom: 10px;">
    <ion-label position="stacked">Mobile No.</ion-label>
    <ion-input type="number" placeholder="Enter mobile no." [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" placeholder="Enter email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" disabled></ion-input>
  </ion-item>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button mode="ios" (click)="updateProfile()" expand="block" class="update-btn">UPDATE <ion-spinner color="white" *ngIf="loader"></ion-spinner></ion-button>
  </ion-toolbar>
</ion-footer>