<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()" mode="ios"> 
        <ion-icon name="chevron-back" class="back-icon"></ion-icon>
      </ion-button>
      
    </ion-buttons>
    <ion-title>My Address</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="addressCount === 0">
    <div class="container">
      <div>
        <img src="assets/location.png" alt="">
      </div>
      <div>Look's like you don't have any saved address</div>
    </div>
  </ng-container>
  <ng-container *ngIf="addressCount > 0">
    <ng-container *ngFor="let item of addressList">
      <ion-item>
        <ion-label>
          <h2>{{item.type}}</h2>
          <p class="address">{{item.house_flat_floor_no}}, {{item.apartment_road_area}}, {{item.landmark}}, {{item.city}} - {{item.pincode}}</p>
          <span class="edit-btn" (click)="updateAddress(item, item._id)">EDIT</span>
          <span class="delete-btn" (click)="deleteAddress(item._id)">DELETE</span>
        </ion-label>
      </ion-item>
    </ng-container>
  </ng-container>  
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button mode="ios" expand="block" (click)="addAddress()" class="add-btn">Add New Address</ion-button>
  </ion-toolbar>
</ion-footer>