<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/auth/welcome" mode="ios">
        <ion-icon name="chevron-back" class="back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ec-page-body">
    <div>
      <p>Except as otherwise expressly stated with respect to our products, all contents of the site are offered on an
        "as is" basis without any warranty whatsoever either express or implied. Earthen Fresh makes no representations,
        express or implied, including without limitation implied warranties of merchantability and fitness for a
        particular purpose.</p>
      <div>Earthen Fresh does not guarantee the functions contained in the site will be uninterrupted or error-free,
        that this site or its server will be free of viruses or other harmful components, or defects will be corrected
        even if Earthen Fresh is aware of them.</div>
      <div><br></div>
      <div>Copyright and Trademark</div>
      <div>Unless otherwise noted, all materials on this site are protected as the copyrights, trade dress, trademarks
        and/ or other intellectual properties owned by</div>
      <div>Earthen Fresh or by other parties that have licensed their material to Earthen Fresh.</div>
      <div>All rights not expressly granted are reserved.</div>
      <div><br></div>
      <div>Personal Use</div>
      <div>Your use of the materials included on this site is for informational and shopping purposes only. You agree
        you will not distribute, publish, transmit, modify, display</div>
      <div>or create derivative works from or exploit the contents of this site in any way. You agree to indemnify,
        defend and hold harmless Earthen Fresh for any and all unauthorized uses you may make of any material on the
        site. You acknowledge the unauthorized use of the contents could cause irreparable harm to Earthen Fresh and
        that in the event of an unauthorized use, Earthen Fresh shall be entitled to an injunction in addition to any
        other remedies available at law or in equity.</div>
      <div><br></div>
      <div>Feedback and Submissions</div>
      <div>You agree you are and shall remain solely responsible for the contents of any submissions you make, and you
        will not submit material that is unlawful, defamatory,</div>
      <div>abusive or obscene. You agree that you will not submit anything to the site that will violate any right of
        any third party, including copyright, trademark, privacy</div>
      <div>or other personal or proprietary right(s).</div>
    </div>
  </div>
</ion-content>